<!-- <div>
    Muthulakshmi starts
</div> -->
<header class="mainnav">
    <img [src]="fullImagePath">
    <label>Non stop <span>Learning</span></label>
    <i class="fa fa-search"></i>
    <input placeholder="Search" class="main-search" disabled>
    <span class="dis-span">Functionality coming soon!</span>
    <div class="imgdiv"><img [src]="studImagePath" class="brainimg"></div>
</header>
<div class="body-cnt">
    <div class="cen-instead-div">
    <div class="content-div">
        <label>JS Project ideas for beginners <a href="https://dev.to/duomly/9-javascript-project-ideas-for-beginners-to-build-an-impressive-portfolio-and-get-hired-42p7?utm_source=digest_mailer&utm_medium=email&utm_campaign=digest_email" target="_blank">reference link</a></label>
        <ul>
            <li><a href="#section1">1.&nbsp;&nbsp;&nbsp;Clock</a></li>
            <li><a href="#section2">2.&nbsp;&nbsp;&nbsp;Simple Image Slider </a></li>
            <li><a href="#section3">3.&nbsp;&nbsp;&nbsp;Form with Validation</a></li>
            <li><a href="#section4">4.&nbsp;&nbsp;&nbsp;Progress Bar</a></li>
            <li><a href="#section5">5.&nbsp;&nbsp;&nbsp;Simple Tax Calculator</a></li>
            <li><a href="#section6">6.&nbsp;&nbsp;&nbsp;Joke of the Day</a></li>
            <li><a href="#section7">7.&nbsp;&nbsp;&nbsp;Quiz</a></li>
            <li><a href="#section8">8.&nbsp;&nbsp;&nbsp;Voting System</a></li>
            <li><a href="#section9">9.&nbsp;&nbsp;&nbsp;Hangman Game</a></li>
        </ul>
    </div>
</div>
    <div>
        <section id="section1">
            <h2>1.&nbsp;&nbsp;&nbsp;Clock</h2>
            <p>One of the easiest and basic projects which you could start from in Javascript is a simple clock. It should display the current hour, minutes, and maybe seconds. If you’d like to make it a little more advanced, please feel free to add the current date.
                What you can practice in this project is updating the value by using setInterval() Javascript method.
                
                If you’d like to grow this small project, you can build a timer, where the user could set a time for the countdown or stopper.
                If you don’t have an idea for the design, feel free to check the example I’ve prepared for you.</p>
                <img [src]="imagePath1">
                <div id="comp1">
                    <app-comp1 [childData]="parentData" (parentOutput)="methodParent($event)"></app-comp1>
                </div>
                <h3>{{fromChildData}}</h3>
                <h3 [hidden]="fromChildData != 0">{{fromChildData2}}</h3>
        </section>
        <section id="section2">
            <h2>2.&nbsp;&nbsp;&nbsp;Simple Image Slider</h2>
            <p>Another idea for Javascript beginners I would suggest you build is an image slider. You may say that there are plenty of ready sliders, which can be used in the projects for free, and that’s true. But in my opinion, it’s really worthwhile to understand how it works from scratch, and there’s no better way to find out, then create it. And you can have this slider in your repository and use it for later to use it in your other projects.</p>
            <div id="comp2">
                <app-comp2></app-comp2>
            </div>
        </section>
        <section id="section3">
            <h2>3.&nbsp;&nbsp;&nbsp;Form with Validation</h2>
            <p>The third idea for the Javascript project for beginners is form validation. It’s another useful project that will teach you very practical usage of the programming language.

                Focus on the Regex to validate the values like email or phone number, which are a little bit more complicated than just a simple string or number.
                
                You can show the tooltips with the information on what is wrong and what should be changed on every validation error.
                
                Feel free to get even more creative and try to build an eye-catching form that you can show in your portfolio.</p>
                <img [src]="imagePath3">
        </section>
        <section id="section4">
            <h2>4.&nbsp;&nbsp;&nbsp;Progress Bar</h2>
            <p>The next idea for the project is to build a progress bar. It can be a simple bar with the animation every few ms and changing the color on loading.

                You may try to code a nice effect after the progress bar reaches 100%.
                
                Take into consideration that you will be able to reuse the script like this in other projects or convert it to a reusable framework component.</p>
        </section>
        <section id="section5">
            <h2>5.&nbsp;&nbsp;&nbsp;Simple Tax Calculator</h2>
            <p>Another idea for the Javascript project is a tax calculator. The application should consist of the input for a taxable amount and the button that will let you trigger the function, which will calculate the net salary.

                For the purpose of the training project, you can use a simple tax rate from your country.
                
                Here’s the example of the calculator.</p>
                <img [src]="imagePath5">
        </section>
        <section id="section6">
            <h2>6.&nbsp;&nbsp;&nbsp;Joke of the Day</h2>
            <p>The sixth idea for the Javascript project is to create an application that has a base of 50 jokes, and it randomly shows the joke of the day.

                This is kind of an entertainment application, and you can do different variations of it. You can display the photo of the day, the gif of the day, or the news of the day.
                
                The main idea is to focus on selecting a random item and display it.</p>
                <img [src]="imagePath6">
        </section>
        <section id="section7">
            <h2>7.&nbsp;&nbsp;&nbsp;Quiz</h2>
            <p>The seventh idea for the project is the quiz. Build a Javascript code that will display a bunch of questions with answers selected randomly from the bigger set of data. Then take the user answer and calculate the result, plus 1 point if the answer is correct, and 0 if the answer is wrong.

                You should also take care of resetting the state of the quiz at the end and display the result of the quiz for a particular user.</p>
        </section>
        <section id="section8">
            <h2>8.&nbsp;&nbsp;&nbsp;Voting System</h2>
            <p>The eight ideas for the project to practice Javascript is a voting system. You can create it in two different ways.

                The first one is to add one voting object and add two possibilities like YES and NO. Then users are voting by those two options, and after voting, you can display the result.
                
                The other option is to display a few voting objects and make them the option to vote at once. So, let’s say you have three images, and when users click on any of them, then the voting is done. And here as well you can show the result after voting.</p>
        </section>
        <section id="section9">
            <h2>9.&nbsp;&nbsp;&nbsp;Hangman Game</h2>
            <p>The other application is a great idea for beginners, but a bit more advanced is a Hangman Game.

                The game should have an input where the user can guess the word or the letter. Users should be limited to some amount of guesses, for example, 10.
                
                When it’s the last guess and user is not able to pass the correct word, the game is lost; otherwise, it’s won, and the user gets the point.</p>
        </section>
    </div>
    <div class="module-part">
        <h3>Module Navigation</h3>
        <a [routerLink]="['/category']" class="cur_po">Click here</a>
    </div>
    <div id="prodlistcomp">
        <app-product-list></app-product-list>
    </div>
    <div id="proddetailcomp">
        <app-product-detail></app-product-detail>
    </div>
    <div id="drag_and_drop">
        <app-drag-drop></app-drag-drop>
    </div>
</div>
<router-outlet></router-outlet>
