<!-- <h1  mat-dialog-title>Message</h1>
    <mat-dialog-content>  </mat-dialog-content>
<mat-dialog-actions>
    <button  mat-raised-button >Close</button>
</mat-dialog-actions> -->

<h3>Message click here to know the date</h3>
<button (click)="open(mymodal)">Click me</button>
<!-- //Modal -->
<ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Today time is : <span style="color: blue;">{{currdate}}</span>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
  </ng-template>
  <div>
    <label>Data getting from parent:</label>
    <span style="color: orange;">&nbsp;&nbsp;"{{childData}}"</span>
  </div>
  <div>
    <label>Data sharing to parent:</label>&nbsp;&nbsp;
    <span class="spancl" (click)="incrChildClick()">click here for +</span>&nbsp;&nbsp;
    <span class="spancl" (click)="decrChildClick()">click here for - </span>
  </div>
  <div>
    <label>Data sharing to parent by using @viewChild and @ngAfterViewInit:</label>&nbsp;&nbsp;
    <span class="spancl" (click)="decrChildViewClick()">See below by click here for show</span>&nbsp;&nbsp;
    <span class="spancl" (click)="incrChildViewClick()">See below by click here for hide</span>
  </div>